*{
    margin: 0;
    padding: 0;
}
.q{
    height: 1.5rem;
    width: 100%;
    background-color: #1448ae;
}
.e{
    height: 0.8rem;
    width: 100%;
    float: left;
    background-color: blanchedalmond;
    line-height: 0.8rem;
    margin-top: 0.5rem;
}
.ewz{
    margin-left: 0.5rem;
    color: gray;
}.r{
    height: 1.5rem;
    width: 70%;
    margin-left: 20%;
    background-color: #f4f4f4;
    float: left;
    margin-top: 0.8rem;
}
.t{
    height: 1.5rem;
    width: 70%;
    float: left;
    /* background-color: aqua; */
}
.jg{
    color: rgb(224, 87, 8);
    font-weight: bold;
}
.twz{
    color: rgb(71, 70, 70);
}
.jw{
    width: 100%;
    height: 2.2rem;
/* margin-top: 2rem; */
position: fixed;
bottom: -1rem;
background: #EEEEEE;
}
/* .jw img{
    width: 100%;
    /* height: 2rem; */


.jw-1{
   width: 25%;
    height: 2rem;
    float: left;
    text-align: center;
    /* background-color: hotpink; */
}
.jw-1 img{
   width: 1rem;
   height: 1rem;
   /* margin-left: 0.2rem; */
    /* float: left; */
    
    
}
.jw-1{
    position: relative;
}
.jw span{
position: absolute;
bottom: 0.8rem;

}

.jw-1-1{
  
    font-size: 0.26rem;  
    margin-top: 1.2rem;
    margin-left: 0.05rem;
   
   /* text-align: left; */
   color: #2C59B4;
   /* float: left; */
   left: 0.6rem;
     
 }
 
 .jw-1-2{
   
     font-size: 0.3rem;  
     margin-top: 2rem;
     margin-left: 0.05rem;
    
    /* text-align: left; */
    color: #999999;
    /* float: left; */
    left: 0.4rem;
      
  }
  .jw-1-3{
  
    font-size: 0.26rem;  
    margin-top: 1.2rem;
    margin-left: 0.05rem;
   
   /* text-align: left; */
   color: #999999;
   /* float: left; */
   left: 0.6rem;
     
 }