@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647940105953') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-lianjie:before {
  content: "\e607";
}

.icon-wujiaoxing-:before {
  content: "\e647";
}

.icon-xiajiantou:before {
  content: "\e615";
}

.icon-youjiantou:before {
  content: "\e629";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-zuojiantou:before {
  content: "\e508";
}

